<template>
  <moka-pot class="example"></moka-pot>
</template>

<style>
moka-pot.example {
  margin: 64px;
  font-size: 2em;
  text-align: center;
  display: block;
}

moka-pot.example button {
  color: red !important;
}
</style>
